@inject Business.Interface.IAboutBusiness _aboutBusiness
@inject Business.Interface.ITeamBusiness _teamBusiness

@{
    List<Data.Model.About> listAbout = await _aboutBusiness.GetByParentIDAndActiveToListAsync(Helper.GlobalHelper.CategoryLanguageID, true);
    listAbout = listAbout.OrderBy(item => item.SortOrder).ToList();
    Data.Model.About about = new About();
    if (listAbout.Count > 0)
    {
        about = listAbout[0];
        about.Note = Helper.GlobalHelper.DomainURL + about.GetType().Name + "/" + about.Code + "-" + about.ID + ".html";
    }

    List<Data.Model.Team> listTeam = await _teamBusiness.GetByParentIDAndActiveToListAsync(Helper.GlobalHelper.CategoryLanguageID, true);
    listTeam = listTeam.OrderBy(item => item.SortOrder).ToList();
    Data.Model.Team team = new Team();
    if (listTeam.Count > 0)
    {
        team = listTeam[0];
        team.Note = Helper.GlobalHelper.DomainURL + team.GetType().Name + "/" + team.Code + "-" + team.ID + ".html";
    }

    Data.Model.Team team001 = new Team();
    if (listTeam.Count > 1)
    {
        team001 = listTeam[1];
        team001.Note = Helper.GlobalHelper.DomainURL + team001.GetType().Name + "/" + team001.Code + "-" + team001.ID + ".html";
    }
}

@{
    ViewData["Title"] = about.Name;
    ViewData["Description"] = about.Description;
    ViewData["URLImage"] = about.FileName;
    ViewData["URLCurrent"] = Helper.GlobalHelper.DomainURL + "gioi-thieu.html";
}
<div class="slider">
    <div class="content">
        @Html.Raw("<a style='text-decoration: none;' href='"+ about.Note +"' title='"+ about.Name +"'><h1 class='marginbt1'>"+ about.Name +"</h1></a>")
        <p>
            @about.Description
        </p>
    </div>
</div>
<div class="light-grey-after">
    <div class="wrapper">
        <div class="about-us">
            <div>
                <div class="wrapper">
                    @Html.Raw("<a class='news-item hover-style' style='text-decoration: none;' href='"+ about.Note +"' title='"+ about.Name +"'>")
                    @Html.Raw("<div class='zoom-image marginbt1 text-center'>")
                    @Html.Raw("<img class='img-fix' src='"+about.FileName+"' alt='"+about.Name+"' title='"+about.Name+"'>")
                    @Html.Raw("</div>")
                    @Html.Raw("</a>")
                </div>
            </div>
            <div>
                <div class="wrapper ">
                    @{
                        int row = 0;
                        foreach (Data.Model.About item in listAbout)
                        {
                            if (item.ID != about.ID)
                            {
                                string url = Helper.GlobalHelper.DomainURL + item.GetType().Name + "/" + item.Code + "-" + item.ID + ".html";
                                @Html.Raw(@"<div class='padtop_4_5'>")
                                if (row % 2 == 0)
                                {
                                    @Html.Raw(@"<div class='inner'>")
                                }
                                else
                                {
                                    @Html.Raw(@"<div class='inner convert-row'>")
                                }
                                @Html.Raw(@"<div class='left'>")
                                @Html.Raw("<a style='text-decoration: none;' href='"+ url +"' title='"+ item.Name +"'>")
                                @Html.Raw("<img src='"+item.FileName+"' alt='"+item.Name+"' title='"+item.Name+"'>")
                                @Html.Raw("</a>")
                                @Html.Raw(@"</div>")
                                @Html.Raw(@"<div class='right'>")
                                @Html.Raw(@"<div class='content first-item-about'>")
                                @Html.Raw("<a style='text-decoration: none;' href='"+ url +"' title='"+ item.Name +"'><h2 class='marginbt1'>"+ item.Name +"</h2></a>")
                                @Html.Raw(@"<p>"+item.Description+"</p>")
                                @Html.Raw(@"</div>")
                                @Html.Raw(@"</div>")
                                @Html.Raw(@"</div>")
                                @Html.Raw(@"</div>")
                                row = row + 1;
                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="padding-top-4-5">
        <div class="note-text bg-color-2 padding4_5_0">
            <div class="content">
                <h2 class="marginbt2">Discuss your workplace</h2>
                <a class="btn-primary white" href="@Helper.GlobalHelper.DomainURLSub/contact.html" title="Contact"><span>Contact</span></a>
            </div>
        </div>
    </div>
</div>
<div class="slider">
    <div class="content">
        @Html.Raw("<a style='text-decoration: none;' href='"+ team.Note +"' title='"+ team.Name +"'><h1 class='marginbt1'>"+ team.Name +"</h1></a>")
        <p>
            @team.Description
        </p>
    </div>
</div>
<div class="light-grey-after2">
    <div class="wrapper">
        <div class="meet-team">
            <div>
                <div class="wrapper">
                    <div class="four-col-wrapper alm-wrapper">
                        <div class="alm-reveal alm-filters">
                            @{
                                foreach (Data.Model.Team item in listTeam)
                                {
                                    if ((item.ID != team.ID) && (item.ID != team001.ID))
                                    {
                                        string url = Helper.GlobalHelper.DomainURL + item.GetType().Name + "/" + item.Code + "-" + item.ID + ".html";
                                        @Html.Raw(@"<a class='news-item hover-style column three-col people-box' href='"+ url +"' title='"+ item.Name +"'>")
                                        @Html.Raw(@"<div class='zoom-image marginbt1 text-center'>")
                                        @Html.Raw(@"<img width='600' height='800' src='"+ item.FileName +"' decoding='async' title='"+ item.Name +"' alt='"+ item.Name +"'>")
                                        @Html.Raw(@"<h2>"+ item.Name +"</h2>")
                                        @Html.Raw(@"</div>")
                                        @Html.Raw(@"</a>")
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="padding-bottom-3em"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="note-text bg-color-4 padding4_5_0">
    <div class="content">
        <h2 class="marginbt2">Discuss your workplace</h2>
        <a class="btn-primary white" href="@Helper.GlobalHelper.DomainURLSub/contact.html" title="Contact"><span>Contact</span></a>
    </div>
</div>