@model Data.Model.Career;

@{
    Model.Note = Helper.GlobalHelper.DomainURL + Model.GetType().Name + "/" + Model.Code + "-" + Model.ID + ".html";
    ViewData["Title"] = Model.Name;
    ViewData["Description"] = Model.Description;
    ViewData["URLCurrent"] = Model.Note;
    ViewData["URLImage"] = Model.FileName;
}
<style>
    .btn-talk:hover {
        cursor: pointer;
        border-width: 0px;
    }
</style>
<script>
    function onSaveCandidate() {
        $.ajax({
            type: "POST",
            datatype: "JSON",
            url: '@Url.Action("SaveCandidate", "Home")',
            data: $('#formCandidate').serialize(),
            success: function (result) {
                window.location.href = "/thank.html";
            },
            error: function (jqXHR, exception) { },
            complete: function () { },
        })
    }
</script>
<div class="slider bg-image-contact" style="background: url(@Model.FileName) no-repeat center center;">
    <div class="content">
        <a style="text-decoration: none;" href="@Model.Note" title="@Model.Name"><h1 class="marginbt1">@Model.Name</h1></a>
    </div>
</div>
<div>
    <div>
        <div class="contact">
            <div class="wrapper ">
                <div class="contact-frm inner">
                    <div class="left-contact">
                        @Html.Raw(@"" + Model.ContentHTML)
                    </div>
                    <div class="right-contact">
                        <div class="bg-image-contact">
                            <div class="form">
                                <svg width="100%" height="auto" viewBox="0 0 580 665" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 92.4868V665H580V0H92.6389L0 92.4868Z" fill="white" />
                                </svg>
                                <div class="info-contact">
                                    <p>
                                        Please send us your information
                                    </p>
                                </div>
                                <form id="formCandidate">
                                    @(Html.HiddenFor(Model => Model.ID))
                                    <div class="content">
                                        <div class="form-group form-text">
                                            <label for="Name">Fullname <i>(*)</i></label><span class="error"></span>
                                            <input id="Name" name="Name" placeholder="Fullname" type="text" />
                                        </div>
                                        <div class="form-group form-text ">
                                            <label for="Code">Email <i>(*)</i></label><span class="error"></span>
                                            <input id="Code" name="Code" placeholder="Email" type="text" />
                                        </div>
                                        <div class="form-group form-text ">
                                            <label for="Display">Phone <i>(*)</i></label><span class="error"></span>
                                            <input id="Display" name="Display" placeholder="Phone" type="text" />
                                        </div>
                                    </div>
                                    <button type="button" onclick='onSaveCandidate()' class="btn-talk">Apply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="note-text bg-color-2 padding4_5_0">
    <div class="content">
        <h2 class="marginbt2">Discuss your workplace</h2>
        <a class="btn-primary white" href="@Helper.GlobalHelper.DomainURLSub/contact.html" title="Contact"><span>Contact</span></a>
    </div>
</div>